

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* *{
    border: 2px red;
} */

body{
    display: flex;
    flex-direction: column;
    flex: 1;
}


.upper{
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content:space-between;
    align-items: center;
    /* margin: 0px; */
    /* padding: 10px 10px; */
    flex: 1;
    
    

}

#header-list{
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    /* background-color: red; */
    margin-right: 200px;
    margin-top: 50px;
    
}

.header{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 20px;
    margin-left: 200px;
    margin-top: 50px;
    /* background-color: red; */
} 



.second-block{
    background-color:#1f2937 ;
    height: auto;
    padding-bottom: 50px;
    /* display: flex; */
    /* justify-content: space-between; */
    
    /* height: auto; */
} 

#horizontal{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    flex: 1;
    /* padding: 15px 60px;
    gap: 10px; */
    list-style-type: none;
    /* background-color: red; */


}

#vertical {
    display: flex;
    flex-direction: column;
    font-size: 38px ;
    font-weight: bolder;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    /* background-color: blue; */
    padding: 20px;
    margin-left: 160px;
    gap: 20px; 
    
}

body .second-block #vertical button{
    width: 80px;
    background-color: #3882f6;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
}

.second-block #horizontal .image{
    /* text-align: auto; */
    padding: 10px;
    margin-right: 220px;
    
    font-size: 18px ;
    /* height: 120px; */
    background-color: grey;
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
}

.second-block #horizontal .secondary{
    font-size: 18px ;
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    
}

.title2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.flex{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    gap: 150px;
    /* gap: 150px; */
}

.flex .block{
    border-radius: 6px;
    height: 100px;
    width: 100px;
    border: 3px solid #3882f6;
    margin-bottom: 20px;
    /* background-color: red; */
    
}

.middle-block{
    background-color:white;
    height: auto;
    padding-bottom: 50px;
   
    
    /* display: flex; */
    /* justify-content: space-between; */
    
    /* height: auto; */
} 

.info{
    max-width: 110px;
}